/* common styles for all pages from home page*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	
}

a{
	text-decoration: none;
	color:black;
}
select{
	width:90%;
	height: 30px;
	font-size: 20px;
	border: none;
	border-bottom: 2px solid #000;
}
select:focus{
	outline: none;
  	border-bottom: 3px solid #6BF8B7;
}

input{
	width:50%;
	height: 30px;
	font-size: 20px;
	border: none;
	border-bottom: 2px solid #000;
}
input[type=text]:focus, input[type=password]:focus {
  	outline: none;
  	border-bottom: 3px solid #6BF8B7;
}

input[type=submit]{
	width: 200px;
	height: 30px;
	background-color:#4CAF50;
	color:white;
	cursor: pointer;
	opacity: 0.8;
}
input[type=submit]:hover{
	opacity: 1;
}
button{
	width: 200px;
	height: 30px;
	background-color:#4CAF50;
	color:white;
	cursor: pointer;
	opacity: 0.8;
}
button:hover{
	opacity:1;
}
	
#container{
	height:100%;
	width: 100%;
	display: grid;
	font-size:20px;
	padding:10px 30px 300px 30px;
	grid-template-columns: 15% 70% 15%;
	background: #CECECE;
}

#nav-list div{
	width:200px;
	height:30px;
	padding-left:10px;
	align-content: center;
	border-radius: 20px;
}

#nav-list div:hover{
	background: white;
}

#logo{
	width:200px;
	height:40px;
	padding:5px;
	text-align:center;
	align-content:center;
	background: white;
}

#logo img{
	width:150px;
	height:30px;
}
#page-head{
	width:100%;
	height:35px;
	font-size: 20px;
}

#page-head div{
	float: left;
}

.head{
	color: blue;
}

#logout{
	width:200px;
	height:35px;
	padding:5px;
	text-align:center;
	align-content:center;
	font-size: 20px;
	float:right;
	background-color: white;
}


/*styles for only home pages(customerHome.jsp, managerHome.jsp)*/ 
#category{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap:10px 20px;	
}

#category div{
	padding:20px;
	height: 200px;
	background: white;	
}

.eye{
	float:right;
}

.product-category{
	width:50%;
	float:center;
	height: 50%;
}
 			

/* settings-specific styles */
#user-detail-container{
	width:100%;
	height: 100%;
	padding:30px 100px 30px 100px;
	background: white;
}

#user-detail{
	width: 100%;
	height: 90%;
	background: white;
}

.detail{
	height:100%;
	width: 50%;
	float: left;
	background: white;
}


#cancel{
	width:200px;
	height:30px;
	float: left;
	color:black;
	text-align:center;
	align-content:center;
	background:#f1f1f1;
}
#edit{
	position: relative;
	left:25%;
}

/* packages page-Specific styles */
#package-container{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap:10px 20px;
}

#package-container div{
	height: 300px;
	background: white;
}
.view{
	position:relative;
	top:20px;
	right:-90%;
}
.packages{
	width:100%;
	height: 50%;
	float: center;
}


/* products page-specific styles */
#product-container{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap:10px 20px;
}

#product-container div{
	height: 200px;
	background: white;	
}

.productImg{
	width:100%;
	height: 50%;
}

#filter-sec{
	width: 100%;
	height:60px;
	background-color: white;
	padding: 15px;
}
#filter{
	float:right;
	color:white;
}
#uploadProduct{
	height:35px;
	padding:5px;
	font-size:20px;
	float: Right;
	color:black;
	background:white;
	
}
 
 #addProduct{
 	float: Right;
 	height:35px;
	padding:5px;
	font-size:20px;
 }
 
 /* create product page-specific styles */
 #product-detail-container{
	width:100%;
	height: 100%;
	padding:30px 50px 10px 50px;
	background: white;
}
#product-detail{
	width: 100%;
	height: 80%;
	background: white;
}
#product-detail input{
	width:90%;	
}