<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InstamartProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDetail</display-name>
    <servlet-name>UpdateDetail</servlet-name>
    <servlet-class>UpdateDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDetail</servlet-name>
    <url-pattern>/UpdateDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationFilter</display-name>
    <servlet-name>AuthenticationFilter</servlet-name>
    <servlet-class>AuthenticationFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationFilter</servlet-name>
    <url-pattern>/AuthenticationFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentalPackages</display-name>
    <servlet-name>RentalPackages</servlet-name>
    <servlet-class>RentalPackages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalPackages</servlet-name>
    <url-pattern>/RentalPackages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProduct</display-name>
    <servlet-name>CreateProduct</servlet-name>
    <servlet-class>CreateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProduct</servlet-name>
    <url-pattern>/CreateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProduct</display-name>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HidePackage</display-name>
    <servlet-name>HidePackage</servlet-name>
    <servlet-class>HidePackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HidePackage</servlet-name>
    <url-pattern>/HidePackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyCart</display-name>
    <servlet-name>MyCart</servlet-name>
    <servlet-class>MyCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyCart</servlet-name>
    <url-pattern>/MyCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Products</display-name>
    <servlet-name>Products</servlet-name>
    <servlet-class>Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Renewal</display-name>
    <servlet-name>Renewal</servlet-name>
    <servlet-class>Renewal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Renewal</servlet-name>
    <url-pattern>/Renewal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentalAgreement</display-name>
    <servlet-name>RentalAgreement</servlet-name>
    <servlet-class>RentalAgreement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalAgreement</servlet-name>
    <url-pattern>/RentalAgreement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rentals</display-name>
    <servlet-name>Rentals</servlet-name>
    <servlet-class>Rentals</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rentals</servlet-name>
    <url-pattern>/Rentals</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProduct</display-name>
    <servlet-name>ViewProduct</servlet-name>
    <servlet-class>ViewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProduct</servlet-name>
    <url-pattern>/ViewProduct</url-pattern>
  </servlet-mapping>
</web-app>